table {
  width: 50%;
}

th {
  font-size: 1rem;
}

.contenedor_table {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vacio {
  font-size: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
